<div id="sidebar">
	<div id="profilepic">
		<img src="/images/profile.png" style="
		width:100% ">
	
	</div>
		<p><b>About me</b><br><br>Name: &nbsp;<%= @user.fname %>&nbsp;<%= @user.lname %></p>
		<p>Email address:&nbsp;<%= @user.email %></p>
		<p>Location:&nbsp;<%= @user.location %></p>
		<p>Interest1:&nbsp;<%= @user.Interest1 %></p>
		<p>Interest2:&nbsp;<%= @user.Interest2 %></p>
		<p>interest3:&nbsp;<%= @user.Interest3 %></p>
</div>

<div id="profilefeed">

	<div id="inputfeed">
	<img src="/images/guy.jpg" style="width:20%;">
	<form action="/profile" method="POST" style="float:left; margin-right:20px;">
	<label style="">New feed?<br></label>
	<input name="[user]feed" type="text" style="
	width:300px; height:50px;
	"><label><br><input type="submit" value="submit">
	</form>
	</div>


		<div id="feedbody">
<!-- 
	feedgoes here -->
		</div>

	<% current_user.posts.last(10).each do |x| %>
	<p><%= x.content %></p>
	<% end %>


</div>

