<div id="sidebar">
  <div id="profilepic">
    <img src="images/profile.png" style="
    width:100% ">
  
  </div>
    <p><b>About me</b><br><br>Name: &nbsp;<%= current_user.fname %>&nbsp;<%= current_user.lname %></p>
    <p>Email address:&nbsp;<%= current_user.email %></p>
    <p>Location:&nbsp;<%= current_user.location %></p>
    <p>Interest1:&nbsp;<%= current_user.Interest1 %></p>
    <p>Interest2:&nbsp;<%= current_user.Interest2 %></p>
    <p>interest3:&nbsp;<%= current_user.Interest3 %></p>
</div>
<img src="images/dino.jpg" style="
position:fixed; margin-left:55%;
">
<!-- edit account details -->
<div id="settings">

  <div id="insideSettings">
<h2><b>Change Your Info Below</b></h2><br>
<form action="/change_info" method="POST">
  <label style="
    margin-right: 20px;
">Change your First name</label>
  <input name="[user]fname" type="text">
  <br><br><label style="
    margin-right: 18px;
">Change your Last Name</label>
  <input name="[user]lname" type="text">
   <br><br><label style="
    margin-right: 56px;
">Change your Email</label>
  <input name="[user]email" type="text">
   <br><br><label style="
    margin-right: 22px;
">Change your Username</label>
  <input name="[user]username" type="text">
   <br><br><label style="
    margin-right: 25px;
">Change your Password</label>
  <input name="[user]password" type="password">
   <br><br><label style="
    margin-right: 40px;
">Change your location</label>
  <input name="[user]location" type="text">
   <br><br><label style="
    margin-right: 15px;
">Change your Interests(1)</label>
  <input name="[user]Interest1" type="text">
   <br><br><label style="
    margin-right: 15px;
">Change your Interests(2)</label>
  <input name="[user]Interest2" type="text">
   <br><br><label style="
    margin-right: 15px;
">Change your Interests(3)</label>
  <input name="[user]Interest3" type="text">
   <br><br><label style="
    margin-right: 72px;
">Change your Bio</label>
  <input name="[user]Bio" type="textarea">
   <br><br><input type="submit" value="submit">
</form>


<!-- delete account -->
<p>Delete Your account</p>
<form action="/account_delete" method="POST">
  <label>Delete <%= current_user.username if current_user %>?</label>
   <br><br><input type="submit" value="Delete ">

</form>
  </div>

</div>